---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

  <p>
    There is nothing of note here at the moment. This page will be used as an About page, once the project is no longer in the preliminary stages of development.
  </p>

</BaseLayout>


