---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Digital Garden";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to your digital garden!</h2>
  <p>This is where the notes are stored. For example, this <a href="/notes/heart.html">first note</a>.</p>
</BaseLayout>