---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Astro Garden";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome 👋</h2>
  <p>This is a work-in-progress template, designed to speed up the process of publishing a digital garden using <a href="https://obsidian.md/">Obsidian</a> and <a href="https://astro.build/">Astro</a>. Digital gardens are all about open publication of personal knowledge. So, in the spirit of this openess, the development of this project is being done "with the garage door open".</p>

  <h3>Another reason for openness</h3>
  <p>I am not a professional web developer. As such, I expect to make a lot of mistakes while progressing with this project. While I hope the end result will offer value to others, this project is also a learning opportunity for me—one that I would like to document.</p>

  <h2>Project Tracker</h2>
  <p>A roadmap can be found over on this project's GitHub repository: <a href="https://github.com/chrisdburr/astro-garden">https://github.com/chrisdburr/astro-garden</a>. The following list shows the stages that have been completed, and the stage(s) that are currently under development:</p>
  <ul>
    <li>✅ Setup project structure</li>
    <li>✅ Add wikilink functionality</li>
    <li>🚧 Theme site using Tailwind integration</li>
    <li>🚧 Add support for Obsidian callouts (or, Admonitions)</li>
    <li>🚧 Develop graph view for notes</li>
  </ul>
</BaseLayout>