---
---
<div class="flex justify-center">
  <a href="/">Home</a>
  <a href="/about" class="ml-4">About</a>
  <a href="/garden" class="ml-4">Digital Garden</a>
  <a href="/blog" class="ml-4">Blog</a>  
</div>